<reme-content-frame>
  <section>
    <h1 class="md:text-3xl xl:text-5xl text-2xl font-bold">Erinnerungen</h1>
    <div class="md:py-4 xl:py-6 py-3 flex flex-col gap-3">
      @if (this.notificationStore.isLoading()) {
        <p>Loading...</p>
        <span className="loading loading-dots loading-xl"></span>
      } @else if (this.notificationStore.error()) {
        <p>Error: {{ this.notificationStore.error() }}</p>
      }
      @else {
        @for (notification of this.notificationStore.value(); track notification.id) {
          <div className="notification">
            <small>{{ notification.subject }}</small>
            <p>{{ notification.content }}</p>
            <small>{{ notification.createdAt }}</small>
            <small>{{ notification.dueDate }}</small>
          </div>
        }
      }
    </div>
  </section>
</reme-content-frame>