<reme-content-frame>
  <div class="space-y-6">
    <header class="space-y-1">
      <h1 class="text-3xl font-semibold">Statistiken</h1>
      <h2 class="text-lg font-semibold">Ein paar Zahlen...</h2>
    </header>

    <div class="flex flex-col justify-center gap-2">
    
      <div class="flex flex-row justify-center gap-2">
        @for (card of this.periodCards(); track card.key) {
          <div class="stats shadow bg-base-100">
            <div class="stat">
              <div class="stat-title">{{ card.title }}</div>
              <div class="stat-value text-primary">{{ card.created }}</div>
              <div class="stat-desc">erstellt</div>
              <div class="stat-desc">Davon erledigt: {{ card.due }}</div>
            </div>
          </div>
        }
      </div>
     
  
      <div aria-label="Aktueller Status" class="stats shadow bg-base-100">
        <div class="stat">
          <div class="stat-title">Derzeit als Draft</div>
          <div class="stat-value text-warning">{{ this.currentDraftCount() }}</div>
        </div>
        <div class="stat">
          <div class="stat-title">Derzeit noch offen</div>
          <div class="stat-value text-info">{{ this.currentTodoCount() }}</div>
        </div>
      </div>
  
      <div aria-label="Mitgliedschaft und erste Ereignisse" class="mt-4">
        <ul class="flex justify-center timeline timeline-horizontal w-full" role="list">
          @for (entry of this.timelineEntries(); track entry.id; let first = $first; let last = $last) {
            <li>
              @if (!first) {
                <hr />
              }
              <div class="timeline-start">{{ entry.date | date:'dd.MM.yyyy' }}</div>
              <div class="timeline-middle text-primary" aria-hidden="true">
                <span class="material-symbols-outlined">event</span>
              </div>
              <div class="timeline-end timeline-box space-y-1">
                <p class="font-semibold">{{ entry.title }}</p>
                @if (entry.description) {
                  <p class="italic">{{ entry.description }}</p>
                }
              </div>
              @if (!last) {
                <hr />
              }
            </li>
          }</ul>
      </div>
    </div>
  </div>
</reme-content-frame>