@let inputLabel = this.inputLabel();
<div class="flex flex-col self-center mx-20 
  text-sm md:text-sm xl:text-base">
  @if (inputLabel) {
    <label for="create-notifcation-mail" class="text-left md:ml-0.5 xl:ml-1 mb-1">
      {{ inputLabel }}
    </label>
  }
  <label class="input input-sm md:input-sm xl:input-md validator w-full">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
      </g>
    </svg>
    <input id="reme-mail-input"
      [formControl]="mailControl" class="pl-1"
      type="email" placeholder="mail@site.com" />
  </label>
  <div class="validator-hint hidden">Enter valid email address</div>
</div>