<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Registrieren & <br/> Loslegen!</h1>
      <div class="py-6 flex flex-col gap-3 justify-center">
        <reme-mail></reme-mail>
        <reme-password></reme-password>
        <reme-password></reme-password>
        <reme-checkbox>
          Akzeptiere AGB & DSGVO
        </reme-checkbox>
        <button class="btn bg-white mx-5">
          Loslegen!
        </button>
      </div>
    </div>
  </div>
</div>