<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Registrieren & <br/> Loslegen!</h1>
      <div class="py-6 flex flex-col gap-3 justify-center">
        <reme-mail></reme-mail>
        <reme-password></reme-password>
        <reme-password></reme-password>
        <reme-checkbox>
          Akzeptiere <a class="reme-link" onclick="agb.showModal()">AGB</a> & <a class="reme-link" onclick="dsgvo.showModal()">DSGVO</a>
        </reme-checkbox>
        <button class="btn bg-white mx-5">
          Loslegen!
        </button>
      </div>
    </div>
  </div>
</div>

<reme-modal modalId="agb">
  <reme-text-frame [title]="'Allgemeine Geschäftsbedingungen'" [content]="this.AgbText"></reme-text-frame>
</reme-modal>

<reme-modal modalId="dsgvo">
  <reme-text-frame [title]="'Datenschutzerklärung'" [content]="this.DsgvoText"></reme-text-frame>
</reme-modal>