<div class="hero bg-base-200 min-h-screen md:min-h-screen xl:min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="md:text-3xl xl:text-5xl text-2xl font-bold">Impressum</h1>
      <div class="md:py-4 xl:py-6 py-3 flex flex-col gap-5">
        <p>Angaben gemäß § 5 TMG sowie <br/>
        Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>

        <address>
          Stina Böhmig<br/>
          Musterstraße 8<br/>
          69239 Neckarsteinach - DE<br/>
        </address>

        <div>
          <p>Telefon: 01234 567890</p>
          <p>E-Mail: stina.boehmig@gmx.de</p>
        </div>

        <!-- <p>
          Umsatzsteuer-Identifikationsnummer gemäß <br/>§ 27 a Umsatzsteuergesetz:<br/>
          DE123456789
          (Entfällt, wenn du keine USt-IdNr. hast. Dann einfach weglassen.)
        </p> -->
      </div>
    </div>
  </div>
</div>
