<div class="hero bg-base-200 min-h-screen md:min-h-auto xl:min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="md:text-4xl xl:text-5xl text-2xl font-bold">Kostenlos ausprobieren!</h1>
      <div class="md:py-4 xl:py-6 py-3">
        <reme-create-notification></reme-create-notification>
      </div>
      <span>👉 Notiz überarbeiten? <a [routerLink]="['/', RouterTokens.LOGIN]" class="reme-link">Melde dich noch heute an!</a></span>
    </div>
  </div>
</div>
