<!-- <template>
  <form class="shadow-lg p-3 rounded-lg bg-white
    border-2 border-gray-500"
    @submit.prevent="onSubmit">
    <div class="flex flex-col gap-4 justify-around">

      <input id="create-notifcation-subject"
        type="text" 
        placeholder="Meine erste RememberMe Benachrichtigung..." 
        v-model="subject"/>

      <QuillEditor id="create-notification-editor"
        ref="editorRef"
        contentType="text"
        v-model:content="content"
        toolbar="minimal"
        class="min-h-24"/>

      <div class="flex flex-col w-full">
        <label for="create-notification-date-time">
          Wann möchtest du erinnert werden?
        </label>
        <input id="create-notification-date-time" required
          type="datetime-local"
          :min="now"
          v-model="dateTime"/>
      </div>

      <div class="flex flex-col w-full">
        <label for="create-notifcation-mail">
          Sende Erinnerung an:
        </label>
        <input id="create-notifcation-mail" required
          type="email" 
          pattern="\w+@\w+\.(com|de|net|org)"
          size="30"
          placeholder="yourMailAdress@provider.com"
          v-model="mail" />
      </div>

      <div class="flex justify-end">
        <button id="create-notification-apply"
          class="btn btn-outline"
          type="submit"
          :disabled="!canSubmitForm || sendingNotification">
          {{ sendingNotification ? 'Sending...' : 'Create Notification' }}
        </button>
      </div>
    </div>
  </form>
</template> -->

<div class="NgxEditor__Wrapper">
  <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
  <ngx-editor
    [editor]="editor"
    [ngModel]="html"
    [disabled]="false"
    [placeholder]="'Type here...'"
  ></ngx-editor>
</div>