<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      <h1 class="text-5xl font-bold">Pricing</h1>
      <div class="overflow-x-auto py-6">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              @for (item of this.pricings; track $index) {
                <th class="text-center text-xl" scope="col">{{item.title}}</th>
              }
            </tr>
          </thead>
          <tbody>
            @for (_ of this.indexArray; track $index; let outerIndex = $index) {
              <tr>
                @for (item of this.pricings; track $index) {
                  <td class="list-row self-start">
                    {{item.features.length < $index ? '' : item.features[outerIndex]}}
                  </td>
                }
              </tr>
            }
          </tbody>
          <!-- foot -->
          <tfoot>
            <tr>
              @for (item of this.pricings; track $index) {
                <td class="text-center">{{item.costPerMonth}} € pro Monat</td>
              }
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- <progress class="progress w-56" [value]="this.progressPercentage()" max="100"></progress> -->
    </div>
  </div>
</div>