<div class="shadow-lg md:p-2.5 xl:p-3 p-2 rounded-lg  border-2 border-gray-500">
  Notify ist ein Benachrichtigungssystem, das dich per E-Mail an deine Notizen erinnert.<br>
  <br><hr><br>
  Eine Deadline zu verpassen, gehört damit der Vergangenheit an!<br>
  Stelle jetzt schon deine Erinnerung für einen Kartenvorverauf ein und lass dich rechtzeitig benachrichtigen.<br>
  Ideen wo es nächstes Jahr hin soll? Schreibe dir jetzt eine Liste, damit du die Urlaubsziele nicht vergisst und lasse dich zur Urlaubsplanung daran erinnern.<br>
  Jetzt schon Ideen für Geburtstagsgeschenke sammeln und dich rechtzeitig benachrichtigen lassen, damit du nie wieder ein Geschenk vergisst.<br>
  Und das Beste: Du kannst Notify völlig kostenlos ausprobieren!<br>
  <br><hr><br>
  Klicke auf "Ausprobieren" im Menü, um deine erste Erinnerung zu erstellen.
  Bist du überzeugt, lege dir einen Account an, damit du deine Notizen überarbeiten oder das Erinnerungsdatum ändern kannst.
</div>
