<main class="
    grid md:grid-cols-3 xl:grid-cols-3 
    items-center justify-center 
    min-h-screen md:min-h-screen xl:min-h-screen"
  >
  <header class="
    flex flex-col items-center justify-center 
    min-h-screen md:min-h-auto xl:min-h-auto 
    h-auto md:h-screen xl:h-screen"
    >
    <div class="flex flex-col justify-center items-center gap-3">
      <h1 class="text-2xl md:text-3xl xl:text-4xl font-bold text-center">Willkommen <br/> Nutzer!</h1>
      <img
        class="mask mask-pentagon"
        alt="profil-bild"
        src="https://img.daisyui.com/images/stock/photo-1567653418876-5bb0e566e1c2.webp" />
      <ng-container *ngTemplateOutlet="menu"></ng-container>
    </div>
  </header>

  <section class="h-auto md:h-screen xl:h-screen items-center justify-center col-span-2" #outletContainer>
    @switch (this.selectedTabComponent()) {
      @case (SelectedTab.Stats) {
        <reme-personal-stats></reme-personal-stats>
      }
      @case (SelectedTab.Settings) {
        <reme-personal-settings></reme-personal-settings>
      }
       @default {
        <reme-personal-notes></reme-personal-notes>
       }
    }
  </section>
</main>

<ng-template #menu>
  <nav class="flex flex-col gap-2 mt-2 xl:mt-3">
    <button class="btn btn-md xl:btn-lg"
      [class.btn-soft]="this.selectedTabComponent() === SelectedTab.Notes"
      (click)="selectTab(SelectedTab.Notes)" type="button">
      <span class="material-symbols-outlined">note_stack</span>
      Meine Erinnerungen
    </button>
        <button class="btn btn-md xl:btn-lg"
      [class.btn-soft]="this.selectedTabComponent() === SelectedTab.Stats"
      (click)="selectTab(SelectedTab.Stats)" type="button">
      <span class="material-symbols-outlined">query_stats</span>
      Statistiken
    </button>
    <button class="btn btn-md xl:btn-lg"
      [class.btn-soft]="this.selectedTabComponent() === SelectedTab.Settings"
      (click)="selectTab(SelectedTab.Settings)" type="button">
      <span class="material-symbols-outlined">settings</span>
      Einstellungen
    </button>
    <button class="btn btn-md xl:btn-lg"
      (click)="this.authenticationService.signOut()" type="button">
      <span class="material-symbols-outlined">logout</span>
      Abmelden
    </button>
  </nav>
</ng-template>