<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Impressum</h1>
      <div class="py-6">
        <p>Angaben gemäß § 5 TMG:</p>
        <div class="address">
          Stina Böhmig
          Musterstraße 12
          12345 Musterstadt
          Deutschland
        </div>
        <p>Phone: {{this.phone}}</p>
        <p>E-Mail: {{this.mail}}</p>
        
        <p>
          Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE123456789
          (Entfällt, wenn du keine USt-IdNr. hast. Dann einfach weglassen.)
        </p>

        <p>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>
        <div class="address">
          Stina Böhmig
          Musterstraße 12
          12345 Musterstadt
        </div>

        <p>
          Plattform der EU-Kommission zur Online-Streitbeilegung:
          <a href=">https://ec.europa.eu/consumers/odr/" target="_blank"> hier</a>
        </p>
      </div>
      <!-- <progress class="progress w-56" [value]="this.progressPercentage()" max="100"></progress> -->
    </div>
  </div>
</div>