<section class="hero bg-base-200 min-h-screen md:min-h-screen xl:min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      @if (this.MVP_Mode) {
        <h1 class="md:text-3xl xl:text-5xl text-2xl font-bold">Anmeldung bald verfügbar!</h1>
        <div class="md:py-4 xl:py-6 py-3 flex flex-col gap-3">
          <p>Mit Anmeldebereich ...</p>
          <ul class="list">
            <li class="list-row"><span class="font-bold italic">✓</span><span class="text-lg">Hast du alle deine Notizen im Blick</span></li>
            <li class="list-row"><span class="font-bold italic">✓</span><span class="text-lg">Wirst du Notizen überarbeiten können</span></li>
            <li class="list-row"><span class="font-bold italic">✓</span><span class="text-lg">Kannst du deine Notizen mit anderen teilen</span></li>
          </ul>
        </div>
      } @else {
        <h1 class="md:text-3xl xl:text-5xl text-2xl font-bold">Einloggen & <br/> Dran bleiben!</h1>
        <div class="md:py-4 xl:py-6 py-3 flex flex-col gap-3">
          <reme-mail></reme-mail>
          <reme-password></reme-password>
           <reme-checkbox preId="login-remember-me">
            Angemeldet bleiben
          </reme-checkbox>
          <button class="btn md:mx-6 xl:mx-10 mx-2">
            Einloggen
          </button>
        </div>
        <span>👉 Noch nicht dabei?  <a [routerLink]="['/', RouterTokens.REGISTER]" class="reme-link">Registriere dich</a> noch heute!</span>
      }
    </div>
  </div>
</section>
