<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">{{ this.currentSlogan().title}}</h1>
      <div class="py-6">
        <p>{{ this.currentSlogan().description }}</p>
        <br/>
        <p>{{ this.currentSlogan().fazit }}</p>
      </div>
      <progress class="progress w-56" [value]="this.progressPercentage()" max="100"></progress>
      <!-- <button class="py-6 btn btn-primary">Jetzt loslegen!</button> -->
    </div>
  </div>
</div>