<section class="hero bg-base-200 min-h-screen md:min-h-auto xl:min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-2xl w-full">
      <h1 class="md:text-4xl xl:text-5xl text-2xl font-bold">Pricing</h1>
      <!-- Desktop Grid -->
      <div class="md:py-8 xl:py-10 py-6 hidden md:grid xl:grid grid-cols-3 gap-3">
        @for (pricing of this.pricings; track $index; let i = $index) {
          <ng-content *ngTemplateOutlet="pricingCard; context: { pricing: pricing }"></ng-content>
        }
      </div>
      <!-- Mobile Carousel -->
      <div class="md:py-8 xl:py-10 py-6 carousel w-full md:hidden gap-2">
        @for (pricing of this.pricings; track $index) {
          <div class="carousel-item w-50 px-1">
            <ng-content *ngTemplateOutlet="pricingCard; context: { pricing: pricing }"></ng-content>
          </div>
        }
      </div>
    </div>
  </div>
</section>

<!-- Das erste pricing ist wie die variable im template heißt. Das zweite ist der Schlüssel im Kontext-Objekt beim übergeben -->
<ng-template #pricingCard let-pricing="pricing">
@let isBasic = pricing.title === "Basic";
<article class="card sw-96 shadow-sm border-1"
  [class.middle-card]="isBasic"
  [class.bg-yellow]="isBasic"
  [class.bg-base-100]="!isBasic">
  <!-- Card Header -->
  <header class="relative flex flex-col items-center justify-center md:pt-6 md:pb-5 xl:pt-8 xl:pb-6 pt-4 pb-3 rounded-t-2xl bg-gradient-to-b"
    [class.from-gray-200]="isBasic"
    [class.from-yellow-500]="!isBasic">
    <h2 class="md:text-base xl:text-lg text-base font-semibold text-white tracking-wide uppercase mb-2">{{pricing.title}}</h2>
    <div class="flex flex-col items-center">
      <span class="md:text-3xl xl:text-4xl text-2xl font-bold text-white">{{pricing.costPerMonth}} €</span>
      <span class="text-base text-white opacity-80 mt-1">pro Monat</span>
    </div>
    @if (isBasic) {
      <span class="absolute top-3 right-3 badge badge-warning badge-xs">Most Popular</span>
    }
  </header>
  <div class="card-body flex flex-col justify-between">    
    <ul class="md:mt-4 xl:mt-6 mt-3 text-s">
      @for (item of pricing.features; track $index) {
        <li class="flex flex-row text-start" [class.mt-2]="!$first">
          <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
          <span>{{item}}</span>
        </li>
      }
    </ul>
    <div class="card-actions md:mt-16 xl:mt-20 mt-10 justify-self-end">
      <button class="btn btn-block">Nehm ich!</button>
    </div>
  </div>
</article>
</ng-template>
